<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
  <p>Text below should be a concatenation from both inputs</p>
  <p> computed: {{ fullname }}</p>
  <p> method: {{ computedMethod() }}</p>
  <input type="text" v-model="firstname"/>
  <input type="text" v-model="lastname"/>
</div>

<script>

  new Vue({
    el: '#app',
    data: {
      firstname: '',
      lastname: '',
    },
    methods: {
      computedMethod: function () {
        if (this.firstname && this.lastname) {
          return `${this.firstname} ${this.lastname}`
        } else if (this.firstname) {
          return this.firstname
        } else if (this.lastname) {
          return this.firstname;
        } else {
          return '';
        }
      },
    },
    computed: {
      fullname: function() {
        this.$forceUpdate();
        if (this.firstname && this.lastname) {
          console.log('both');
          return `${this.firstname} ${this.lastname}`
        } else if (this.firstname) {
          console.log('first');
          return this.firstname
        } else if (this.lastname) {
          return this.firstname;
        } else {
          return '';
        }
      },
    }
  });
</script>
</body>
</html>
